@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


.tcenter {
  /*@include vertical-align;*/
  /*padding: 1em;*/
  text-align: center;
  }

.pure-button {
  margin: 10px;
  border-radius: 4px;
  border: 1px outset rgba(0, 0, 0, 0.2);;
  width: 50px;
  height: 38px;
}

.pure-round {
    height: 50px;
    width: 220px;
    border-radius: 10px;
}

.center { display: block; margin-left: auto; margin-right: auto;}

table {
  margin: 10px;
}

.fa-stack {
  margin: -9px -8px;
  padding: 0px;
}

.pure-g > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.l-box {
    padding: 1em;
    border: 1px solid rgba(0,0,0,.2);
}
.tcenter {
    padding: 1em;
}

input {
    font-size: inherit;
    background-color: white;
    text-align: center;
    border: 2px solid #333;
    width: 33vw;
    float: right;
    color: inherit;
}

label {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
