<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <script src="/static/js/jquery-2.1.4.min.js"></script>
  <script src="/static/js/react-0.13.1.js"></script>
  <script src="/static/js/jsxtransformer-0.13.3.js"></script>
  <script src="/static/js/script.jsx" type="text/jsx"></script>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/css/pure-min.css"/>
  <link rel="stylesheet" href="/static/css/test.css" />
</head>
<body>
  <div id="content"></div>
</body>
</html>
