<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <script src="/static/js/jquery-2.1.4.min.js"></script>
  <script src="/static/js/script.js"> </script>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="/static/css/pure-min.css"/>
  <link rel="stylesheet" href="/static/css/test.css" />


</head>
<body>
  <div class="round-button">
    <div class="round-button-circle">
      <!-- <a href="#">OPEN</a> -->
      <button id="button" data-door-open="" type="button" class="pure-round center">
        <span class="visible_open">Close</span>
        <span class="visible_closed">Open</span>
      </button>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1-5"></div>
    <div class="pure-u-2-5 tcenter" data-door-open="">
      <!-- <label class="l-box" data-door-open=""> -->

      <span class="visible_open">OPEN</span>
      <span class="visible_closed">CLOSED</span>
      for:

      <!-- </label> -->
    </div>
    <div class="pure-u-1-5">
      <div class="l-box" id="last-mag"></div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1-5"></div>
    <div class="pure-u-2-5 tcenter ">
      Last Motion:
    </div>
    <div class="pure-u-1-5">
      <div id="last-pir" class="l-box"></div>
      <!-- <input id="last-pir" readonly> -->
    </div>
  </div>
  <div>
    <button id="lock" class="pure-button" type="button" data-locked=false>
      <i class="fa fa-lock"></i>
      <i class="fa fa-unlock"></i>
      &nbsp; LOK
    </button>
  </div>
  <div>
    <button id="pir" class="pure-button" type="button" data-pir-enabled=true>
      <i class="fa fa-eye"></i>
      <i class="fa fa-eye-slash"></i>
      &nbsp;PIR
    </button>
  </div>
  <div id="log" style="font-family: courier; font-size: 0.75em;">hi</div>
</body>
</html>
